*{font-family: 'Courier New', Courier, monospace;}
.navcontent {
  background-color: #050a1c;
  font-family: Monospace;
  padding-top: 25px;
  font-size: 20px;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  color:#ff0000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 75%; 
  width: 100%;
  color: #ff0000;
  text-align: center;
  display: table;
}
.fixed-bg h1 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: left;
  color: #ff0000;
  padding: 250px;
  font-size: 400%;
  font-family: cormorant;
  text-shadow: -2px 0 #050a1c, 0 2px #050a1c, 2px 0 #050a1c, 0 -2px #050a1c;
}
.scroll-bg {
  background-color: #050a1c;
  color: rgb(255, 255, 255);
  padding: 25px;
  font-size: 20px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.main{
  background-color: #050a1c;
  padding: 35px;
  color: white;
}
footer {
  text-align: center;
  padding-top:5px;
  background-color: #000000;
  color: #ff4500;
  margin: 20px
}
.citations{
  text-decoration: none;
  color: #050a1c;
}
.citations:hover{
  color:white
}